-i https://pypi.org/simple
backports-abc==0.5
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
futures==3.3.0; python_version >= '2.6' and python_version < '3'
jinja2==2.11.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
livereload==2.6.3
markdown==3.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mkdocs==1.0.4
pyyaml==5.3.1
singledispatch==3.4.0.3
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
tornado==5.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
